extends layout.pug

block content
    <main id="top">
        <button type="button" class="btn btn-primary btn-lg m-3" id="computeButton"><span id="computeButtonText"></span></button>
        <p class="fs-2 position-absolute top-0 start-50 translate-middle mt-4">Tasks complete: <span id="taskCounter"></span></p>
        <h1>Grid Server</h1>
        <p>Grid Server is a simple grid computing scheduler. It is written in Node.js and uses Express.js for the web server and Pug for the templating engine.</p>
        <p class="position-relative bottom-0">
                    item We do not collect any information on the regular users of this website and app what so ever. <br>
                    item Project owners may upload js files (cores) to our platform under a project id, as well as urls for us to contact them on <br>
                    item No other identifying information exists. <br>
                </p>
    </main>