extends layout.pug

//- Empty scripts block to prevent client.js from being loaded
block scripts
block content
    <main id="top">
        <h1>Privacy policy</h1>
        <p>
            We do not collect any information on the regular users of this app what so ever. 
            Project owners may upload js files (cores) to our platform under a project id, as well as urls for us to contact them on
            No other identifying information exists.
        </p>
        <p>This page exists solely as it is a requirement for publishing browser extensions</p>
    </main>