extends layout.pug

block content
    <main id="top">
        <h1>Grid Server</h1>
        <p>Grid Server is a simple grid computing scheduler. It is written in Node.js and uses Express.js for the web server and Pug for the templating engine.</p>
    </main>