body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1, 5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol,
ul {
    padding-left: 2rem;
}

*,
::after,
::before {
    box-sizing: border-box;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.displayFlex {
    display: flex !important;
}

.flexColumn {
    flex-direction: column !important;
}

.flexShrink0 {
    flex-shrink: 0 !important;
}

.padding0 {
    padding: 1rem !important;
}

.textWhite {
    color: white !important;
}

.backgroundDark {
    background-color: darkslategray !important;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.marginBottom {
    margin-bottom: auto !important;
}
